.sidebar {
  background: #ffffff;
  border-right: 0.25px solid #2a3140;
  padding: 24px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  overflow-y: auto;
}

.colunm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.title h1 {
  margin: 0px;
  font-size: 18px;
  line-height: 1.75rem;
  color: #111318;
}

.title p {
  margin: 0px;
  font-size: 12px;
  font-weight: 600;
  color: #616f89;
}

.add {
  background: #2b6cee;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 18px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  height: 40px;
}

.navList {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 0;
}

.navItem {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: #111318;
  font-weight: 600;
  font-size: 14px;
  background: #f0f2f4;
}

.navItem p {
  margin: 0;
}

.navItem:hover {
  background: #f0f2f4;
  color: #111318;
}

.navItemActive {
  background: #eef2ff;
  color: #2563eb;
}

.yourTags {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.tagTitle {
  color: #616f89;
  font-size: 12px;
  padding: 0px 12px;
  font-weight: 700;
}

.tagItem {
  padding: 6px 10px;
  color: #616f89;
  font-size: 14px;
  font-weight: 700;
}

.tagItem p {
  margin: 0;
}

.tagItem:hover {
  background: #e5e7eb;
  border-radius: 8px;
}
