.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}

.filterContainer > :first-child {
  background: #111318;
  color: #ffff;
}

.chip {
  color: #616f89;
  font-size: 14px;
  background: #ffff;
  padding: 0px 16px;
  border-radius: 9999px;
  width: auto;
  height: 32px;
  border: 1px solid black;
}
